<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Application Ref. Card 04</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<style>
        .color1 { background-color: #355C7D; }
        .color2 { background-color: #6C5B7B; }
        .color3 { background-color: #C06C84; }
        .color4 { background-color: #F67280; }
        body { background-color: #355C7D; color: aliceblue; font-family: sans-serif }
        .message { background-color: #C06C84; padding: 20px; border-radius: 10px; margin-top: 10px}
    </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="padding-top: 30px;">
				<h1>Architecture RefCard 04</h1>
				<small>Spring Application with DataStorage</small>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<hr/>
			</div>
		</div>
		<div class="row color2">
			<div class="col-md-6" style="padding: 10px">
				<h2>File to upload</h2>
				<form method="POST" enctype="multipart/form-data" action="/upload">
					<input type="file" name="file" class="btn btn-light"/>
					<br/>
					<input type="submit" value="Upload" class="btn btn-light" style="margin-top:10px"/>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>Files</h2>
				<ul>
					<li th:each="file : ${files}">
						<a th:href="${file}" th:text="${file.toLowerCase()}" style="color:white" />
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>